{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Category list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Category list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <h5>
            <p>
                <a class="btn btn-primary" href="{{ 'create' }}" title="{{ 'add_category'|trans }}">
                    {{ 'Add new category'|trans }}
                </a>
            </p>

        </h5>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action_show'|trans }}">
                            {{ 'show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary"  href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'edit'|trans }}
                        </a>
                        {% endif %}
                        {% if not category.tasks|length and is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary"  href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <a class="btn btn-primary" href="{{ url('task_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'Back to list'|trans }}
            </a>
        </p>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}