{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Category details:'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'id' }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'Created_at' }}</dt>
            <dd>{{ category.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'Updated_at' }}</dt>
            <dd>{{ category.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'Title:' }}</dt>
            <dd>{{  category.title }}</dd>
            <dt>{{ 'label_tasks' }}</dt>
            <dd>
                {% for task in category.tasks %}
                    <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'task_show' }}">
                        {{ task.title }}
                    </a>|
                {%  endfor %}
            </dd>
        </dl>
        <p>
            <a class="btn btn-primary" href="{{ url('category_index') }}" title="{{ 'action_back_to_list' }}">
                {{ 'Back to list' }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found' }}
        </p>
    {% endif %}
{% endblock %}