{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Bugtracker'|trans }}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div>
            <a href="{{ url('app_logout') }}">{{ 'logout'|trans }}</a>
        </div>
    {% else %}
        <div>
            <a href="{{ url('app_login') }}">{{ 'login'|trans }}</a>
        </div>
    {% endif %}
    <h1>{{ 'Bugtracker'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <h5>
            <p>
                <a href="{{ 'create' }}" title="{{ 'add_task'|trans }}">
                    {{ 'New bug report'|trans }}
                </a>
            </p>
            <p>
                <a href="{{ url('category_index') }}" title="{{ 'category_index'|trans }}">
                    {{ 'Show categories'|trans }}
                </a>
            </p>

        </h5>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'created_at'|trans, 'task.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'updated_at'|trans, 'task.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'title'|trans, 'task.title') }}</th>
           {#      <th>{{ knp_pagination_sortable(pagination, 'label_tag', 'task.tags') }}</th> #}
                <th>{{ 'category'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.createdAt|date('Y/m/d') }}</td>
                    <td>{{ task.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.category.title }}</td>
                    <td>
                        <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'view'|trans }}
                        </a>
                        {% if is_granted('EDIT', task) %}
                            <a href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action_edit'|trans }}">
                                {{ 'edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', task) %}
                            <a href="{{ url('task_delete', {id: task.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}