{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_task_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_task_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <h5>
            <p>
                <a href="{{ 'create' }}" title="{{ 'add_task'|trans }}">
                    {{ 'add_task'|trans }}
                </a>
            </p>
            <p>
                <a href="{{ url('category_index') }}" title="{{ 'category_index'|trans }}">
                    {{ 'category_index'|trans }}
                </a>
            </p>

        </h5>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'task.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'task.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'task.title') }}</th>
           {#      <th>{{ knp_pagination_sortable(pagination, 'label_tag', 'task.tags') }}</th> #}
                <th>{{ 'label_category'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.createdAt|date('Y/m/d') }}</td>
                    <td>{{ task.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ task.title }}</td>

                    <td>{{ task.category.title }}</td>
                    <td>
                        {% if is_granted('VIEW', task) %}
                            <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action_view'|trans }}">
                                {{ 'action_view'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('EDIT', task) %}
                            <a href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', task) %}
                            <a href="{{ url('task_delete', {id: task.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}