{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Bug_details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Bug details:'|trans({'%id%': task.id|default('')}) }}</h1>
    {% if task is defined and task|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'id' }}</dt>
            <dd>{{ task.id }}</dd>
            <dt>{{ 'Created_at' }}</dt>
            <dd>{{ task.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'Updated_at' }}</dt>
            <dd>{{ task.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'Category' }}</dt>
            <dd>{{  task.category.title }}</dd>
            <dt>{{ 'label_tags' }}</dt>
            <dd>{%  for tag in task.tags %}
                    {{ tag.title }}
                {% endfor %}
            </dd>
            <dt>{{ 'Title:' }}</dt>
            <dd>{{  task.title }}</dd>
        </dl>
        <p>
            {% if is_granted('EDIT', task) %}
                <a class="btn btn-primary" href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action_edit' }}">
                    {{ 'edit' }}
                </a>
            {% endif %}
            {% if is_granted('DELETE', task) %}
                <a class="btn btn-primary" href="{{ url('task_delete', {id: task.id}) }}" title="{{ 'action_delete' }}">
                    {{ 'delete' }}
                </a>
            {% endif %}
        </p>
        <p><a class="btn btn-primary" href="{{ url('task_index') }}" title="{{ 'action_back_to_list' }}">
                {{ 'Back to list' }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found' }}
        </p>
    {% endif %}
{% endblock %}